infra/n8n/daily-follow-up-summary.workflow.json
{
  "name": "ClientFlow AI - Daily Follow-up Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/rpc/get_due_follow_up_queue'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"p_limit\": 200 }"
      },
      "id": "load-due-queue",
      "name": "Load Due Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 280]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { summary: 'No due follow-ups today.' } }];\n}\nconst lines = items.map((item, index) => {\n  const row = item.json;\n  return `${index + 1}. ${row.lead_name} | ${row.workspace_name} | ${row.channel} | due ${row.due_at}`;\n});\nreturn [{ json: { summary: lines.join('\\n') } }];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 280]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.CLIENTFLOW_FROM_EMAIL}}",
        "toEmail": "={{$env.CLIENTFLOW_SUMMARY_EMAIL}}",
        "subject": "ClientFlow AI daily follow-up summary",
        "emailType": "text",
        "message": "={{$json.summary}}"
      },
      "id": "send-summary-email",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [980, 280]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Load Due Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Due Queue": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "phase-04-daily-summary"
}
