infra/n8n/follow-up-due-reminder.workflow.json
{
  "name": "ClientFlow AI - Due Follow-up Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/rpc/get_due_follow_up_queue'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"p_limit\": 100 }"
      },
      "id": "load-due-follow-ups",
      "name": "Load Due Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.channel}}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "email-only",
      "name": "Email Channel Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [760, 280]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM_ADDRESS}}",
        "toEmail": "={{$json.lead_email}}",
        "subject": "Follow-up reminder for {{$json.lead_name}}",
        "emailType": "text",
        "message": "=A follow-up for {{$json.lead_name}} is due in ClientFlow AI.\\n\\nDue: {{$json.due_at}}\\nChannel: {{$json.channel}}\\nNote: {{$json.note || 'No note provided'}}"
      },
      "id": "send-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1020, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/rpc/record_follow_up_reminder_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_follow_up_id\": \"{{$json.follow_up_id}}\", \"p_delivery_channel\": \"email\" }"
      },
      "id": "record-sent-status",
      "name": "Record Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 280]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Due Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Due Follow-ups": {
      "main": [
        [
          {
            "node": "Email Channel Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Channel Only": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Record Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "phase-04-due-reminder"
}
