infra/n8n/invoice-send.workflow.json
{
  "name": "ClientFlow AI - Invoice Send",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "invoice-send-trigger",
      "name": "Invoice Send Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/rpc/get_invoice_send_queue'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"p_limit\": 100 }"
      },
      "id": "load-invoice-send-queue",
      "name": "Load Invoice Send Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.lead_email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "invoice-email-available",
      "name": "Invoice Email Available",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [740, 280]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM_ADDRESS}}",
        "toEmail": "={{$json.lead_email}}",
        "subject": "Your invoice from {{$json.workspace_name}}",
        "emailType": "text",
        "message": "=Hello {{$json.lead_name}},\\n\\n{{$json.workspace_name}} created invoice {{$json.invoice_number}} for ${{($json.amount_cents / 100).toFixed(2)}}.\\nDue date: {{$json.due_at}}\\n\\n{{ $json.external_payment_link ? 'Payment link: ' + $json.external_payment_link : 'A payment link was not included in this invoice.' }}\\n\\n{{ $json.note ? 'Note: ' + $json.note : '' }}"
      },
      "id": "send-invoice-email",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/rpc/mark_invoice_email_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_invoice_id\": \"{{$json.invoice_id}}\" }"
      },
      "id": "mark-invoice-email-sent",
      "name": "Mark Invoice Email Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 280]
    }
  ],
  "connections": {
    "Invoice Send Trigger": {
      "main": [
        [
          {
            "node": "Load Invoice Send Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Invoice Send Queue": {
      "main": [
        [
          {
            "node": "Invoice Email Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Email Available": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Mark Invoice Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "phase-07-invoice-send"
}
